@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url('../public/Ezrah-BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

